footer.footer
  .map#map
  .center
    .footer__title Контакты
    .footer__info
      .footer__left
        .footer__text
          | За подробной информацией
          | о деятельности Центра
          | инжиниринга обращайтесь
          | по телефону:
        .footer-icons
          a.footer-icons__link._fb(href="#")
          a.footer-icons__link._twitter(href="#")
      .footer__right
        .footer__contact
          .footer__subtitle Телефон:
          a.footer__phone(href="tel:+74872259832") +7 4872 25 98 32
        .footer__contact
          .footer__subtitle Адрес:
          .footer__address
            | Жаворонкова, д. 2 (вход со двора),
            | кабинет №1
    .footer__bottom
      .footer__copyright © 2016 Все права защищены.
      .footer__dial
        |Создание сайта -
        span Dial
