doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    link(rel="stylesheet" href="./css/vendor.css")
    link(rel="stylesheet" href="./css/main.css")
  body
    block content
    .overlay
    script(defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDraQ19z_RjZ0qWjfgZmar6_dYuPgl5-Ag")
    script(src="./js/vendor.js")
    script(src="./js/main.js")
